body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.game-board {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-self: flex-start;
}

.board {
  flex: 1 0 33%;
  margin-bottom: 20px;
  width: 60px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 54px;
  height: 54px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.history-selected {
  font-weight: bold;
}

.forward-diagonal-line {
  background: linear-gradient(to top right,
                              #fff calc(50% - 4px),
                              #aaa, #fff calc(50% + 4px) )
}

.backward-diagonal-line {
  background: linear-gradient(to bottom right,
                              #fff calc(50% - 4px),
                              #aaa, #fff calc(50% + 4px) )
}

.horizontal-line {
  background: linear-gradient(to bottom,
                              #fff calc(50% - 4px),
                              #aaa, #fff calc(50% + 4px) )
}

.vertical-line {

  background: linear-gradient(to right,
                              #fff calc(50% - 4px),
                              #aaa, #fff calc(50% + 4px) )
}

.player-x {
 color: red;
}

.player-o {
 color: blue;
}

.next-board-x {
  box-shadow: -7px 2px 5px 0px rgba(237,86,86,0.75);
}

.next-board-o {
  box-shadow: -7px 2px 5px 0px rgba(89,131,255,1);
}
